<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="ISO-8859-1">
    <title>Varify OTP</title>
</head>
<body>
<section>
    <div id="login">
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="forgot-password-form" class="form" action="#" th:action="@{/varify_otp}"
                              method="post">
                            <h3 class="text-center text-info">Varify OTP</h3>
                            <div class="form-group">
                                <input type="text" name="otp" id="otp" placeholder="Enter OTP here" class="form-control" required>
                            </div>
                            <div class="text-center">
                                <div class="form-group">
                                    <input type="submit" name="submit" class="btn btn-warning btn-md" value="Varify">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
